artifacts_root: artifacts


data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: https://drive.google.com/file/d/17zq1amI9d-uTICJY0wQ_YCoOQyQgoO83/view?usp=sharing
  local_data_file: artifacts/data_ingestion/data.zip
  unzip_dir: artifacts/data_ingestion


data_validation:
  root_dir: artifacts/data_validation
  STATUS_FILE: artifacts/data_validation/status.txt
  ALL_REQUIRED_FILES: ["SentimentDataFinal.xlsx","data.zip"]


data_transformation:
  root_present_dir: artifacts/data_ingestion
  data_present_path: artifacts/data_ingestion/SentimentDataFinal.xlsx
  root_dir: artifacts/data_transformation/sentimentDataset
  data_path: artifacts/data_transformation/sentimentDataset/TransformedData.xlsx

model_trainer:
  data_path: artifacts/data_transformation/sentimentDataset/TransformedData.xlsx
  root_dir: artifacts/model_trainer
  model_ckpt: model

model_evaluation:
  root_dir: artifacts/model_evaluation
  METRIC_FILE: artifacts/model_evaluation/metric.txt
  model: artifacts/model_trainer
  ALL_REQUIRED_FILES: ["model_evaluation"]
  # modelname: DistilBertModel